<!doctype html>
<html lang="en" ng-app="showcase">
  <title>Showcase</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js"></script>
  <script src="{{ url_for('static', filename='angular-csv-import/dist/angular-csv-import.js') }}"></script>
  <script src="{{ url_for('static', filename='showcase.js') }}"></script>
  <script src="{{ url_for('static', filename='directives.js') }}"></script>
  <script src="{{ url_for('static', filename='services.js') }}"></script>
  <script src="{{ url_for('static', filename='angular-file-upload.min.js') }}"></script>
  <script src="{{ url_for('static', filename='angular-file-upload.min.map') }}"></script>

  <body ng-controller="ShowcaseController">
    <div class="page">
      <h1>Find Your Showcase Lineup</h1>
      <br>
      <pre>
  Having a stressful time making a dance showcase lineup? Well stress no more! 
  Follow these steps and you can find a showcase lineup in no time.
  1. Upload your spreadsheet with the link below. There are three options:
    a. Orientation - click the checkbox if you put the dance team names on the first row. 
       (each column corresponds to a team). Don't check the checkbox if the dance team
       names are on the first column (each row corresponds to a team).
    b. Separator - if you used a csv file, write ','. If you use a .tsv file, write '\t'
    c. Max Conflicts - indicate the maximum number of conflicts you will allow for the showcase.
       Default is 0.
  2. Choose an opening act. A list will automatically generate arbitrarily. Delete this list. 
     You will have re-enter any teams you want to already fix in the showcase lineup again. 
  3. Enter any other teams you want to have in a specific order. Make sure teams are spelled with exact
     spelling, lower/uppercase, and punctuation. Then click Find Lineup.
  Afterwards, 6 randomly generated lineups that satisfies the contraints will appear on the right. Feel
  free to play around with the list and change the order to find new combinations for lineups.
      </pre>

              <!--
      <div class="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      </div>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    -->
      <ng-csv-import content="csv.content" 
        orientation="true" 
        separator="','"
        result="csv.result">{{result}}</ng-csv-import>
        <span ng-binding="result"></span>
    </div>
  </body>
</html>
